@font-face
  font-family: Ghosten Icons
  font-style: normal
  font-weight: 400
  font-display: block
  src: local('Ghosten Icons'), local('Ghosten Icons-Regular'), url('fonts/Ghosten Icons-Regular.woff2') format('woff2')

.gt-icon
  font-family: Ghosten Icons, system-ui
  font-weight: inherit
  font-style: normal
  display: inline-flex
  width: 1em
  overflow: hidden
  text-transform: none
  letter-spacing: normal
  word-wrap: normal
  white-space: nowrap
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale
  /* Support for IE. */
  font-feature-settings: 'liga'

.oblique-stripes
  background: top left / 2rem 2rem linear-gradient(-45deg, var(--bs-body-bg) 25%, var(--bs-tertiary-bg) 0, var(--bs-tertiary-bg) 50%, var(--bs-body-bg) 0, var(--bs-body-bg) 75%, var(--bs-tertiary-bg) 0)

.gt-page
  background-color: var(--bs-body-bg)
  box-shadow: 0 0 0 2rem var(--bs-body-bg), 0 1rem 3rem 3rem rgba(0, 0, 0, .175)

.gt-node
  min-width: 2rem
  min-height: 2rem

.draggable-mirror
  position: fixed !important
  pointer-events: none
  z-index: 1100
  will-change: auto
  transition: none
  display: block

.draggable-placeholder
  position: fixed !important
  display: block
  pointer-events: none
  will-change: auto
  opacity: 0.4
  left: 0
  top: 0

.draggable-source
  opacity: 0
