@import 'cdk'
@import 'button'

\:root
  --bs-primary: #404dff

.accordion
  --bs-accordion-btn-focus-box-shadow: none

.nav
  --bs-nav-link-color: var(--bs-secondary-color)
  --bs-nav-link-hover-color: var(--bs-body-color)
  --bs-nav-link-disabled-color: var(--bs-tertiary-color)

.nav-pills
  --bs-nav-pills-link-active-color: var(--bs-body-color)
  --bs-nav-pills-link-active-bg: var(--bs-tertiary-bg)

  .nav-link
    border: 1px solid transparent

    &.active
      border-color: var(--bs-border-color)

.tooltip
  transition: transform ease-out 100ms, opacity 0.15s linear
  --bs-tooltip-bg: var(--bs-primary)
  --bs-tooltip-color: #fff

@media (prefers-color-scheme: light)
  \:root
    --bs-primary-bg-subtle: #f1f2ff

@media (prefers-color-scheme: dark)
  \:root
    --bs-primary-bg-subtle: #212529
    --bs-body-bg: #111111
    --bs-body-bg-rgb: 17, 17, 17
    --bs-body-color: #e5e5e5
